body {
  font-family: Arial, sans-serif;
  color: #FFF;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #080808;
}

header {
  background-color: #171717;
  color: white;
  padding: 20px;
  text-align: center;
}

footer {
  color: white;
  background-color: #08080894;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#pagination {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0px auto;
  margin-top: 20px;
  gap: 40px;
  align-items: space-around;
}

main {
  padding: 20px;
  border-radius: 10px;
  background-color: #131316;
  margin: 50px auto;
  max-width: 600px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

select,
input[type="text"],
button {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #080808;
  color: white;
  border: 2px solid #ccc;
  box-sizing: border-box;
}

select {
  text-align: center;
}

button {
  font-weight: bold;
  background-color: #080808;
  color: white;
  cursor: pointer;
}

button:hover {
  border: 2px solid #3cff00;
}

#results {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  color: #F1f1f1;
  margin: 20px 0;
  border-radius: 20px;
  border: 3px solid #f2f2f2;

}

.item:hover{

  border: 3px solid #3cff00;
}


.item:hover>.item-text>h2 {
  color: #3cff00;
}

.item-image {
  max-width: 240px;
  min-width: 120px;
  border-radius: 20px;
}

.item-text {
  margin: auto;
}

#dead {
  color: red;
}

@media screen and (max-width: 400px) {

  /* Aumentar a fonte em dispositivos muito pequenos */
  body {
    font-size: 14px;
  }

  #results {
    margin-bottom: 140px;
    /* Adiciona espaço na parte inferior do contêiner de resultados */
  }
}

@media screen and (max-width: 600px) {
  /* Ajustes para telas menores */

  header {
    padding: 10px;
    margin-bottom: 10px;
    /* Adicionando um pouco de margem inferior */
  }

  main {
    margin: 20px auto;
    padding: 10px;
    max-width: 90%;
  }

  #pagination {
    width: 90%;
  }

  select,
  input[type="text"],
  button {
    font-size: 14px;
  }

  .item {
    flex-direction: column;
  }

  .item-image {
    max-width: 100%;
    margin-bottom: 10px;
  }

  footer {
    text-align: left;
    /* Alinhamento do texto do footer para telas menores */
  }

  #pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #results {
    margin-bottom: 140px;
    /* Adiciona espaço na parte inferior do contêiner de resultados */
  }
}

@media screen and (min-width: 601px) {
  /* Outras regras de mídia para telas maiores */

  #pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  /* Ajuste para telas maiores */

  main {
    max-width: 1000px;
  }
}